extensions:
	smart_nette_components: SixtyEightPublishers\SmartNetteComponent\Bridge\Nette\DI\ComponentAuthorizationExtension

smart_nette_components:
	cache: no

services:
	-
		autowired: no
		factory: SixtyEightPublishers\SmartNetteComponent\Tests\Reader\CustomRuleHandler
