extensions:
	smart_nette_component: SixtyEightPublishers\SmartNetteComponent\DI\SmartNetteComponentExtension

services:
	annotationReader:
		class: Doctrine\Common\Annotations\AnnotationReader
		setup:
			- Doctrine\Common\Annotations\AnnotationRegistry::registerUniqueLoader('class_exists')
